<%= link_to 'Back', companies_path %>


<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, class: name %>
<% end %>

<div>Name:</div>
<div><%= @company.name %></div>
<div>Type:</div>
<div><%= @company.company_type %></div>
<div>Domain:</div>
<div><%= @company.domain %></div>
<div>Description:</div>
<div><%= @company.description%></div>
<div>Industry:</div>
<div><%= @company.industry %></div>
<div>Money Raised</div>
<div><%= @company.money_raised %></div>
<div>Market Cap: </div>
<div><%= @company.market_cap %></div>
<div>Annual Revenue: </div>
<div><%= @company.annual_revenue %></div>
<div>Location</div>
<div><%= @company.location %></div>
<div>Number of employees: </div>
<div><%= @company.number_of_employees %></div>
<div>Likes: </div>
<div><%= @company.likes %></div>

<%= form_with model: @company do |form| %>
  <%= form.hidden_field :like %>
  <%= form.submit 'Like' %>
<% end %>